/* css styles */

/*
 * Urban Form Map - iframe positioned directly below navbar
 * Navbar height is calculated dynamically via JavaScript
 */

.urbanform-iframe {
  position: fixed !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100vw !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
  z-index: 10;
}

/* Remove all padding/margin from containers on urbanform page */
body:has(.urbanform-iframe) {
  overflow: hidden !important;
}

body:has(.urbanform-iframe) #quarto-content {
  padding: 0 !important;
  margin: 0 !important;
}

body:has(.urbanform-iframe) main {
  padding: 0 !important;
  margin: 0 !important;
}

body:has(.urbanform-iframe) .page-layout-custom {
  padding: 0 !important;
  margin: 0 !important;
}
